{% extends 'base.html' %}
{% block content %}

{% for task in object_list %}
<div class="card text-center">
    <div class="card-header">
      My To Do List
    </div>
    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <p class="card-text">{{task.description}}</p>
      <a href="{% url 'task_edit' task.pk %}" type="button" class="btn btn-success">+ Edit</a> 
      <a href="{% url 'task_delete' task.pk %}" type="button" class="btn btn-danger">+ Delete</a>
    </div>
    <div class="card-footer text-muted">
      {{task.date}}
    </div>
  </div>
{% endfor %}
{% endblock content %}